* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.display {
    text-align: right;
    font-size: 30px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 5px;
}

.display-container, .row button {
    border: solid 1px plum;
    border-radius: 8px;
    padding: 30px;
    font-size: 24px;
}

.display-container {
    background-color: honeydew;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.saved {
    font-size: 20px;
}

#clear {
    background-color:hotpink;
}

#delete {
    background-color: palegreen;
}

button:hover, #clear:hover, #delete:hover {
    background-color: gray;
}

ul {
    list-style-type: none
}